.container {
  .info-box {
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
    height: 100%;
  }

  .form-box {
    background-color: lightgrey;
  }

  .course-info-form-container {
    margin-top: 30px;
  }

  .commit-box {
    background-color: lightgrey;
  }

  .details-box {
    min-height: 300px;
    background-color: lightgrey;
  }

  .email-box {
    background-color: lightgrey;
  }

  .form-text {
    max-width: 200px;
  }
}
