.Container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    grid-auto-rows: 420px; 
    grid-auto-columns: 50px; 
}
.Item {
   // margin-left: 250px;
    //margin-right: 250px;
    object-fit: contain;
}

.LoginContainer {
    display: grid;
    margin-left: 20px;
    grid-template-columns: 100px 100px
}

.LoginTitle {
    display: flexbox;
    margin-top: 10px;
    text-align: center;
}

.formControl {
    width:100px;
}

.TextboxStyle {
    width: 310px
}

.buttonContainer
{
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn
{
    width:100%;
    height: 40px;
}

.outline
{
    border-style: solid;
}

.bottomPadding
{
    padding-bottom: 20px;
}

.alertBox 
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom:15px;
    width: 60%;
}
.noAlertBox
{
    visibility: hidden;
    display: none;
}